* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  text-align: center;
  background: linear-gradient(45deg, #e4eff8, #ffddc1);
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  font-family: 'Arial', sans-serif;
  transition: background 1s ease-in-out;
  cursor: pointer;
}

.principal {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 15px;

}

.foto {
  width: 100%;
}

.k {
  width: 100%;
  height: auto;
  object-fit: cover;
 
}

.text {
 
  width: 100%;
  max-width: 600px; /* Limita el ancho para evitar que el texto se expanda demasiado */
  height: auto; /* Permite que la altura se ajuste según el contenido */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center; /* Asegura que el texto esté centrado */
  padding: 20px; /* Añade espacio alrededor */
}

.f {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5em; /* Reduce un poco el tamaño para que encaje mejor */
  font-weight: 700;
  color: #e1e428c7;
  text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.3);
  margin: 10px 0;
}

.nombre {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.2em; /* También reduce el tamaño */
  font-weight: 400;
  color: #833cf7;
  text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.3);
  margin: 10px 0;
}

.regalos {

  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 50px;

  display: flex;
  justify-content: end;
}

.regalos img {

  width: 300px;

}

#animacion {
  width: 100%;
  max-width: 800px;
  height: 100vh;
  margin-top: 20px;
}
